<div class="container">


    <div class="row">
    <div _ngcontent-c34="" class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <form _ngcontent-c34="" class="propy-form ng-untouched ng-pristine ng-invalid" novalidate="">
            <h3 _ngcontent-c34="" class="text-center">Sign in</h3>
            <div _ngcontent-c34="" class="form-group">
                <input _ngcontent-c34="" class="form-control propy-control ng-untouched ng-pristine ng-invalid" formcontrolname="email" id="email" type="email" placeholder="Your Email">
                <!---->
            </div>
            <div _ngcontent-c34="" class="form-group">

                    <input _ngcontent-c34="" class="form-control propy-control ng-untouched ng-pristine ng-invalid" formcontrolname="password" id="password" type="password" placeholder="Password">


            </div>
            <!---->
            <div _ngcontent-c34="" class="form-group checkbox form-check abc-checkbox">
                <input _ngcontent-c34="" class="form-check-input ng-untouched ng-pristine ng-valid" formcontrolname="rememberMe" id="rememberMeCheckbox" type="checkbox">
                <label _ngcontent-c34="" class="center-block form-check-label" for="rememberMeCheckbox">
                    Remember me
                </label>
            </div>
            <button _ngcontent-c34="" class="btn btn-block propy-control button-big" >
                Sign in
            </button>
            <div _ngcontent-c34="" class="text-center">
                <div _ngcontent-c34="" class="form-group" id="forgot-password">
                    <a _ngcontent-c34="" href="/forgot">Forgot your password?</a>&nbsp;&nbsp;&nbsp;&nbsp;<a _ngcontent-c34="" routerLink="/register">Register</a>
                </div>
            </div>
            <!----><hr _ngcontent-c34="" class="separator">
            <!----><div _ngcontent-c34="" class="social">
            <p _ngcontent-c34="" class="title text-center">
                <span _ngcontent-c34="" class="text-capitalize">or&nbsp;</span>connect with</p>
            <button _ngcontent-c34="" _nghost-c36=""><button _ngcontent-c36="" class="btn btn-block btn-social btn-facebook btn-lg" type="button">
                <span _ngcontent-c36="" class="fa"></span>
                <span _ngcontent-c36="" class="text">Facebook</span>
            </button></button>

        </div>

        </form>
    </div>

    </div>

</div>

<div class="container">
    <div class="bt"></div>
</div>

<br/><br/><br/>