.bg-dark {
  background-color: #20C063!important;
}

.navbar-nav .mr-auto {
  position: relative;
  display: inline-block;
  padding: 0 12px;
  font-weight: 600;
  color: #fff;
  line-height: 48px;
}


.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}

