<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="_ngcontent-c2 d-flex justify-content-center"><span>Antique World</span></h1>
        <h1 class="d-flex justify-content-center"><span>古董世界</span></h1>
      <p>The Antique World Corporation and Its Strategic Partner
        5.1 The corporation
        Antique World (AW) is incorporated in the State of Nevada. Its principle business location is at 200 Vesey Street New York, NY 10080. AW is a financial technology company providing ecommerce platform services and blockchain technology solution services to its customers. The company led by the Chief Executive Officer, Jun Zhang, is organized with the departments of Business Operation, Accounting, Human Resources, Product Development, Information Technology, Marketing & Sales, Law & Regulatory Compliance. See Chapter 11 form more details.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">

      <div class="col-md-4 order-md-2 mb-4">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">Your cart</span>
          <span class="badge badge-secondary badge-pill">3</span>
        </h4>
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">Product name</h6>
              <small class="text-muted">Brief description</small>
            </div>
            <span class="text-muted">$12</span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">Second product</h6>
              <small class="text-muted">Brief description</small>
            </div>
            <span class="text-muted">$8</span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">Third item</h6>
              <small class="text-muted">Brief description</small>
            </div>
            <span class="text-muted">$5</span>
          </li>
          <li class="list-group-item d-flex justify-content-between bg-light">
            <div class="text-success">
              <h6 class="my-0">Promo code</h6>
              <small>EXAMPLECODE</small>
            </div>
            <span class="text-success">-$5</span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Total (USD)</span>
            <strong>$20</strong>
          </li>
        </ul>

        <form class="card p-2">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Promo code">
            <div class="input-group-append">
              <button type="submit" class="btn btn-secondary">Redeem</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-8 order-md-1">
      <div class="col">
        <li class="xsCol12Landscape smlCol12 lrgCol8" data-reactid="42">
          <div class="ptm cardContainer positionRelative clickable" data-reactid="43">
            <div class="card  boxBasic backgroundBasic" data-reactid="44">
              <button data-test-id="CardSaveButton" class="saveHome hoverPulse pam typeReversed" data-reactid="45">
													<span class="stackIcons" data-reactid="46">
														<i class="iconHeartInactive iconOnly" data-reactid="47"></i>
														<i class="iconHeartEmpty typeReversed iconOnly" data-reactid="48"></i>
													</span>
              </button>
              <div itemscope="" itemtype="http://schema.org/SingleFamilyResidence" data-reactid="49">
													<span itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress" class="hideVisually" data-reactid="50">
														<span itemprop="streetAddress" data-reactid="51">29 Village Dr</span>
														<span itemprop="addressLocality" data-reactid="52">
															<!-- react-text: 53 -->
                              <!-- /react-text -->
                              <!-- react-text: 54 -->Jericho
                              <!-- /react-text -->
                              <!-- react-text: 55 -->
                              <!-- /react-text -->
														</span>
														<span itemprop="addressRegion" data-reactid="56">
															<!-- react-text: 57 -->NY
                              <!-- /react-text -->
                              <!-- react-text: 58 -->
                              <!-- /react-text -->
														</span>
														<span itemprop="postalCode" data-reactid="59">11753</span>
													</span>
                <span itemprop="geo" itemscope="" itemtype="http://schema.org/GeoCoordinates" data-reactid="60">
														<meta itemprop="latitude" content="40.788494" data-reactid="61">
															<meta itemprop="longitude" content="-73.52645" data-reactid="62">
															</span>
              </div>
              <div data-reactid="63">
                <a href="/p/ny/jericho/29-village-dr-jericho-ny-11753--1048077855" class="tileLink" alt="29 Village Dr" rel="noopener" target="_blank" data-reactid="64">
                  <div class="overlayContainer" data-reactid="65">
                    <div class="cardPhoto  backgroundPulse " style="height:160px;width:100%;" data-reactid="66">
                      <picture data-reactid="67">
                        <source srcset="//thumbs.trulia-cdn.com/pictures/thumbs_6/zillowstatic/ISyz15s6j5dpgi1000000000.jpg" media="(min-resolution: 192dpi), (-webkit-min-device-pixel-ratio: 2)" data-reactid="68">
                        <img class="cardPhoto  backgroundPulse " src="//thumbs.trulia-cdn.com/pictures/thumbs_3/ps.111/1/e/d/b/picture-uh=af6399c246db4f13e5ac5fedbbce5ca-ps=1edb3cebfc6b255b975cf68aea495.jpg" style="height:160px;width:100%;" alt="29 Village Dr, Jericho, NY" data-reactid="69">
                      </picture>
                      <div class="tagsListContainer" data-reactid="70">
                        <!-- react-text: 71 -->
                        <!-- /react-text -->
                        <!-- react-text: 72 -->
                        <!-- /react-text -->
                      </div>
                    </div>
                  </div>
                  <div class="backgroundBasic" style="z-index:3;" data-reactid="73">
                    <div class="cardDetails man pts pbn phm h6 typeWeightNormal" data-reactid="74">
                      <div data-reactid="75">
                        <span class="cardPrice h5 man pan typeEmphasize noWrap typeTruncate" data-reactid="76">$3,800</span>
                        <!-- react-empty: 77 -->
                      </div>
                      <div data-reactid="78">
                        <ul class="listInline typeTruncate mvn" data-testid="cardDescription" data-reactid="79">
                          <li data-testid="beds" data-auto-test="beds" data-reactid="80">
                            <i class="iconBed" data-reactid="81"></i>
                            <!-- react-text: 82 -->4bd
                            <!-- /react-text -->
                          </li>
                          <li data-testid="baths" data-auto-test="baths" data-reactid="83">
                            <i class="iconBath" data-reactid="84"></i>
                            <!-- react-text: 85 -->2ba
                            <!-- /react-text -->
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </a>
                <a href="/p/ny/jericho/29-village-dr-jericho-ny-11753--1048077855" class="tileLink phm" alt="29 Village Dr" rel="noopener" target="_blank" data-reactid="86">
                  <div class="addressDetail" data-reactid="87">
                    <div class="h6 typeWeightNormal typeTruncate typeLowlight mvn" data-reactid="88">29 Village Dr</div>
                  </div>
                </a>
              </div>
              <div class="cardFooter typeTruncate cardFooter man ptn phm pts pbm" data-reactid="89">
                <div>
                  <button class="btn btnFullWidth btnTertiary cta">Contact Property</button>
                </div>
              </div>
            </div>
          </div>
        </li>
      </div>
      <div class="col">
        <li class="xsCol12Landscape smlCol12 lrgCol8" data-reactid="93">
          <div class="ptm cardContainer positionRelative clickable" data-reactid="94">
            <div class="card  boxBasic backgroundBasic" data-reactid="95">
              <button data-test-id="CardSaveButton" class="saveHome hoverPulse pam typeReversed" data-reactid="96">
																	<span class="stackIcons" data-reactid="97">
																		<i class="iconHeartInactive iconOnly" data-reactid="98"></i>
																		<i class="iconHeartEmpty typeReversed iconOnly" data-reactid="99"></i>
																	</span>
              </button>
              <div itemscope="" itemtype="http://schema.org/SingleFamilyResidence" data-reactid="100">
																	<span itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress" class="hideVisually" data-reactid="101">
																		<span itemprop="streetAddress" data-reactid="102">431 Woodbridge Ln</span>
																		<span itemprop="addressLocality" data-reactid="103">
																			<!-- react-text: 104 -->
                                      <!-- /react-text -->
                                      <!-- react-text: 105 -->Jericho
                                      <!-- /react-text -->
                                      <!-- react-text: 106 -->
                                      <!-- /react-text -->
																		</span>
																		<span itemprop="addressRegion" data-reactid="107">
																			<!-- react-text: 108 -->NY
                                      <!-- /react-text -->
                                      <!-- react-text: 109 -->
                                      <!-- /react-text -->
																		</span>
																		<span itemprop="postalCode" data-reactid="110">11753</span>
																	</span>
                <span itemprop="geo" itemscope="" itemtype="http://schema.org/GeoCoordinates" data-reactid="111">
																		<meta itemprop="latitude" content="40.786358" data-reactid="112">
																			<meta itemprop="longitude" content="-73.517525" data-reactid="113">
																			</span>
              </div>
              <div data-reactid="114">
                <a href="/p/ny/jericho/431-woodbridge-ln-jericho-ny-11753--1004496197" class="tileLink" alt="431 Woodbridge Ln" rel="noopener" target="_blank" data-reactid="115">
                  <div class="overlayContainer" data-reactid="116">
                    <div class="cardPhoto  backgroundPulse " style="height:160px;width:100%;" data-reactid="117">
                      <picture data-reactid="118">
                        <source srcset="//thumbs.trulia-cdn.com/pictures/thumbs_6/zillowstatic/ISek0yix5i399q0000000000.jpg" media="(min-resolution: 192dpi), (-webkit-min-device-pixel-ratio: 2)" data-reactid="119">
                        <img class="cardPhoto  backgroundPulse " src="//thumbs.trulia-cdn.com/pictures/thumbs_3/ps.111/6/c/2/7/picture-uh=bb7eb2397631d045cd1db95d664ca417-ps=6c27c7613ace8ea37d355d654cc50f0.jpg" style="height:160px;width:100%;" alt="431 Woodbridge Ln, Jericho, NY" data-reactid="120">
                      </picture>
                      <div class="tagsListContainer" data-reactid="121">
                        <!-- react-text: 122 -->
                        <!-- /react-text -->
                        <!-- react-text: 123 -->
                        <!-- /react-text -->
                      </div>
                    </div>
                  </div>
                  <div class="backgroundBasic" style="z-index:3;" data-reactid="124">
                    <div class="cardDetails man pts pbn phm h6 typeWeightNormal" data-reactid="125">
                      <div data-reactid="126">
                        <span class="cardPrice h5 man pan typeEmphasize noWrap typeTruncate" data-reactid="127">$3,900</span>
                        <!-- react-empty: 128 -->
                      </div>
                      <div data-reactid="129">
                        <ul class="listInline typeTruncate mvn" data-testid="cardDescription" data-reactid="130">
                          <li data-testid="beds" data-auto-test="beds" data-reactid="131">
                            <i class="iconBed" data-reactid="132"></i>
                            <!-- react-text: 133 -->3bd
                            <!-- /react-text -->
                          </li>
                          <li data-testid="baths" data-auto-test="baths" data-reactid="134">
                            <i class="iconBath" data-reactid="135"></i>
                            <!-- react-text: 136 -->3ba
                            <!-- /react-text -->
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </a>
                <a href="/p/ny/jericho/431-woodbridge-ln-jericho-ny-11753--1004496197" class="tileLink phm" alt="431 Woodbridge Ln" rel="noopener" target="_blank" data-reactid="137">
                  <div class="addressDetail" data-reactid="138">
                    <div class="h6 typeWeightNormal typeTruncate typeLowlight mvn" data-reactid="139">431 Woodbridge Ln</div>
                  </div>
                </a>
              </div>
              <div class="cardFooter typeTruncate cardFooter man ptn phm pts pbm" data-reactid="140">
                <div>
                  <button class="btn btnFullWidth btnTertiary cta">Contact Property</button>
                </div>
              </div>
            </div>
          </div>
        </li>
      </div>
      <div class="col">
        <li class="xsCol12Landscape smlCol12 lrgCol8" data-reactid="93">
          <div class="ptm cardContainer positionRelative clickable" data-reactid="94">
            <div class="card  boxBasic backgroundBasic" data-reactid="95">
              <button data-test-id="CardSaveButton" class="saveHome hoverPulse pam typeReversed" data-reactid="96">
																	<span class="stackIcons" data-reactid="97">
																		<i class="iconHeartInactive iconOnly" data-reactid="98"></i>
																		<i class="iconHeartEmpty typeReversed iconOnly" data-reactid="99"></i>
																	</span>
              </button>
              <div itemscope="" itemtype="http://schema.org/SingleFamilyResidence" data-reactid="100">
																	<span itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress" class="hideVisually" data-reactid="101">
																		<span itemprop="streetAddress" data-reactid="102">431 Woodbridge Ln</span>
																		<span itemprop="addressLocality" data-reactid="103">
																			<!-- react-text: 104 -->
                                      <!-- /react-text -->
                                      <!-- react-text: 105 -->Jericho
                                      <!-- /react-text -->
                                      <!-- react-text: 106 -->
                                      <!-- /react-text -->
																		</span>
																		<span itemprop="addressRegion" data-reactid="107">
																			<!-- react-text: 108 -->NY
                                      <!-- /react-text -->
                                      <!-- react-text: 109 -->
                                      <!-- /react-text -->
																		</span>
																		<span itemprop="postalCode" data-reactid="110">11753</span>
																	</span>
                <span itemprop="geo" itemscope="" itemtype="http://schema.org/GeoCoordinates" data-reactid="111">
																		<meta itemprop="latitude" content="40.786358" data-reactid="112">
																			<meta itemprop="longitude" content="-73.517525" data-reactid="113">
																			</span>
              </div>
              <div data-reactid="114">
                <a href="/p/ny/jericho/431-woodbridge-ln-jericho-ny-11753--1004496197" class="tileLink" alt="431 Woodbridge Ln" rel="noopener" target="_blank" data-reactid="115">
                  <div class="overlayContainer" data-reactid="116">
                    <div class="cardPhoto  backgroundPulse " style="height:160px;width:100%;" data-reactid="117">
                      <picture data-reactid="118">
                        <source srcset="//thumbs.trulia-cdn.com/pictures/thumbs_6/zillowstatic/ISyzpn2af4qx9q1000000000.jpg" media="(min-resolution: 192dpi), (-webkit-min-device-pixel-ratio: 2)" data-reactid="119">
                        <img class="cardPhoto  backgroundPulse " src="//thumbs.trulia-cdn.com/pictures/thumbs_3/ps.111/6/c/2/7/picture-uh=bb7eb2397631d045cd1db95d664ca417-ps=6c27c7613ace8ea37d355d654cc50f0.jpg" style="height:160px;width:100%;" alt="431 Woodbridge Ln, Jericho, NY" data-reactid="120">
                      </picture>
                      <div class="tagsListContainer" data-reactid="121">
                        <!-- react-text: 122 -->
                        <!-- /react-text -->
                        <!-- react-text: 123 -->
                        <!-- /react-text -->
                      </div>
                    </div>
                  </div>
                  <div class="backgroundBasic" style="z-index:3;" data-reactid="124">
                    <div class="cardDetails man pts pbn phm h6 typeWeightNormal" data-reactid="125">
                      <div data-reactid="126">
                        <span class="cardPrice h5 man pan typeEmphasize noWrap typeTruncate" data-reactid="127">$3,900</span>
                        <!-- react-empty: 128 -->
                      </div>
                      <div data-reactid="129">
                        <ul class="listInline typeTruncate mvn" data-testid="cardDescription" data-reactid="130">
                          <li data-testid="beds" data-auto-test="beds" data-reactid="131">
                            <i class="iconBed" data-reactid="132"></i>
                            <!-- react-text: 133 -->4bd
                            <!-- /react-text -->
                          </li>
                          <li data-testid="baths" data-auto-test="baths" data-reactid="134">
                            <i class="iconBath" data-reactid="135"></i>
                            <!-- react-text: 136 -->3ba
                            <!-- /react-text -->
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </a>
                <a href="/p/ny/jericho/431-woodbridge-ln-jericho-ny-11753--1004496197" class="tileLink phm" alt="33 Lake Dr" rel="noopener" target="_blank" data-reactid="137">
                  <div class="addressDetail" data-reactid="138">
                    <div class="h6 typeWeightNormal typeTruncate typeLowlight mvn" data-reactid="139">33 Lake Dr
                      New Hyde Park, NY 11040</div>
                  </div>
                </a>
              </div>
              <div class="cardFooter typeTruncate cardFooter man ptn phm pts pbm" data-reactid="140">
                <div>
                  <button class="btn btnFullWidth btnTertiary cta">Contact Property</button>
                </div>
              </div>
            </div>
          </div>
        </li>
      </div>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>
